$vp-progress-linear-bg-color: #747474;
$vp-progress-linear-bg-color-darken: #454545;

vp-progress-linear {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 5px;
    background-color: $vp-progress-linear-bg-color;

    &:before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        display: block;
        width: 50%;
        height: 100%;
        background-color: $vp-progress-linear-bg-color-darken;
        z-index:2;
        animation: progress-linear-infinite 2s infinite;
    }

    @keyframes progress-linear-infinite {
        0% {
            left:0;
            width: 0;
            opacity: 1;
        }
        40% {
            left:15%;
            width: 60%;
        }
        89% {
            left:100%;
            width: 40%;
            opacity: .5;
        }
        90%, 100% {
            left:100%;
            width: 0;
        }
    }

    &[hide] {
        display: none;
    }
}
