.CardsWorkDetails {
  padding: 30px;
  box-sizing: border-box;
  font-size: 14px;

  &__company {
    a {
      text-decoration: none;
      color: white;
    }
    text-indent: -17px;
  }
  &__role {
    margin: 5px 0;
    line-height: 1em;
    text-indent: -17px;
  }
  &__description {
    margin: 5px 0;
    line-height: 1em;
    text-indent: -17px;
  }
  &__link {
    color: white;
    &__icon {
      margin: 10px 0 0 0;
    }
  }
}
