@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,300,200,900,700italic,600,600italic');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import './normalize.css';
@import './colors.css';

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--corlor-background);
  color: var(--corlor-white);
}
