@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,300,200,900,700italic,600,600italic);

:root {
  --corlor-red: red;
  --corlor-yellow: yellow;
  --corlor-green: green;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--corlor-red);

}
