vp-works {
    width: 80vw;
    display: flex;
    flex-direction: column;

    @media #{$layout-greater-than-extra-small} {
        width: auto;
    }

    vp-works-title {
        font-size: 26px;
        text-transform: uppercase;
    }

    vp-works-description {
        margin: 20px 0;
        font-size: 18px;
    }

    vp-works-list {
        display: flex;
        flex-direction: column;

        vp-works-list-item {
            font-size: 8px;
        }
    }

    vp-works-divider {
        display: flex;
        width: 30px;
        height: 1px;
        border-bottom: 1px solid white;
        margin: 30px 0;
    }
}
