.CardsFooterMessage {
  font-family: 'Lobster', cursive;

  p {
    &:nth-child(1) {
      font-size: 80px;
      line-height: 0.8em;
    }
    &:nth-child(2) {
      font-size: 42px;
    }
    &:nth-child(3) {
      font-size: 40px;
    }
  }
}
