.CardsFooterMessage {
  font-family: 'Rammetto One', cursive;

  p {
    &:nth-child(1) {
      font-size: 53px;
    }
    &:nth-child(2) {
      font-size: 40px;
    }
    &:nth-child(3) {
      font-size: 25px;
    }
  }
}
