* {
  box-sizing: border-box;
}

body {
  font-family: 'SpaceMono-Regular';
  background-color: var(--color-very-dark-gray);
  color: var(--color-lightest-dark-gray);
  margin: 0;
  padding: 0;
  cursor: none;
}

.color-blue { color: var(--color-blue); }
.color-soft-blue { color: var(--color-soft-blue); }
.color-soft-yellow { color: var(--color-soft-yellow); }
.color-yellow { color: var(--color-yellow); }
.color-pink { color: var(--color-pink); }
.color-dark-red { color: var(--color-dark-red); }
.color-bright-red { color: var(--color-bright-red); }
.color-lime-green { color: var(--color-lime-green); }
.color-darkest-gray { color: var(--color-darkest-gray); }
.color-very-dark-gray { color: var(--color-very-dark-gray); }
.color-medium-dark-gray { color: var(--color-medium-dark-gray); }
.color-light-dark-gray { color: var(--color-light-dark-gray); }
.color-lightest-dark-gray { color: var(--color-lightest-dark-gray); }
.color-dark-grayish-blue { color: var(--color-dark-grayish-blue); }
.color-light-gray { color: var(--color-light-gray); }

.logo {
  position: fixed;
  z-index: 1;
  top: var(--body-padding);
  left: var(--body-padding);
  width: 80px;
}

.logo path {
  fill: none;
  stroke: var(--color-blue);
  stroke-width: 4px;
  transition: transform 0.35s ease;
}

.logo:hover .letter-v {
  transform: translate(0px, -10px);
}

.logo:hover .letter-p {
  transform: translate(0px, 10px);
}

.btn-link {
  text-decoration: none;
  color: var(--color-lightest-dark-gray);
  cursor: inherit;
  transition: all 0.35s ease-out;
}
.btn-link:hover {
  color: var(--color-light-dark-gray);
}

.btn-cv {
  position: fixed;
  top: var(--body-padding);
  right: var(--body-padding);
  font-size: var(--font-size-paragraph);
}