@import './../../config/stylesheets/medias.css';

.Grid {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 0 0 1px;

  @media (--gt-sm) {
    margin: 3px 0 0 3px;
  }
}
