$bg-color: #1b1b1b;
$font-color: #FFFFFF;
$lines-color: #FFFFFF;

$layout-extra-small:              "only screen and (max-width: 599px)";
$layout-greater-than-extra-small: "only screen and (min-width: 600px)";
$layout-small:                    "only screen and (min-width: 600px) and (max-width: 959px)";
$layout-greater-than-small:       "only screen and (min-width: 960px)";
$layout-medium:                   "only screen and (min-width: 960px) and (max-width: 1279px)";
$layout-greater-than-medium:      "only screen and (min-width: 1280px)";
$layout-large:                    "only screen and (min-width: 1280px) and (max-width: 1919px)";
$layout-greater-than-large:       "only screen and (min-width: 1920px)";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

body {
    position: relative;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    color: $font-color;

    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    text-decoration: none;
    color: $font-color;
    &:hover {
        text-decoration: line-through;
    }
}

#global-progress-linear {
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    .copyright {
        margin: 20px 0 0 0;
        @media #{$layout-greater-than-extra-small} {
            margin: 0;
        }
    }

    .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px 0;

        @media #{$layout-greater-than-extra-small} {
            flex-direction: row;
        }

        li {
            list-style: none;
            font-size: 20px;

            @media #{$layout-greater-than-extra-small} {
                margin: 0 0 10px 0;
                font-size: 12px;
                &:after {
                    content: ' | ';
                    display: inline-block;
                    margin: 0 10px;
                }

                &:last-child {
                    &:after { display: none; }
                }
            }
        }
    }
}

// components
@import "components/button/button";
@import "components/hero/hero";
@import "components/section/section";
@import "components/progress-scrollbar/progress-scrollbar";
@import "components/codepen/codepen";
@import "components/progress-linear/progress-linear";

// sections
@import "sections/works/works";
@import "sections/lab-001/lab-001";
@import "sections/lab-002/lab-002";
